@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: #1A56DB;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
